* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    display: block;
    text-align: center;
    margin-bottom: 20px;
}

.container {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(2, auto); /* все строки одинаковой высоты */
    gap: 10px;
    padding: 10px;

}

.content {
    width: auto;      /* убрала фикс 500px */
    max-width: auto;  /* чтобы не выходило за пределы */
}

.description {
    display: block;
}

.house-image {
    width: 100%;      /* картинка растягивается по ширине блока */
    height: auto;     /* пропорции сохраняются */
    display: block;   /* чтобы не было лишних отступов */

}